apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: coder-tailscale
  namespace: coder
spec:
  ingressClassName: tailscale
  tls:
    - hosts:
        - coder-workspaces
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: coder
                port:
                  number: 80
